.box{
    width: 300px;
    
}
.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
    color:black;
}
.mat-form-field {
    background-color: blueviolet;
}